body {
    font-family: Arial, sans-serif;
}

#chartContainer {
    margin-top: 20px;
}

#tabs {
    margin-top: 20px;
}

.tabContent {
    display: none;
}

.active {
    display: block;
}




